<h3>Add a School</h3>
<%=link_to 'New School','/schools/new'%>
<%=link_to "Add an School Rep","/users/new?t=rep"%>
<h3>Add a Industry</h3>
<%=link_to 'New Industry','/industries/new'%>
<h3>Add a Company</h3>
<%=link_to 'New Company','/companies/new'%>
<%=link_to "Add an Employer","/users/new?t=emp"%>
